doctype 5
html
  head
    title Gallery
    link(rel='stylesheet',href='../css/butter.ui.css')
    style
      html,body {
        height: 100%;
      }
      body {
        font-family: "Open Sans", "Helvetica Neue", sans-serif;
        background: #F4F5F5;
        color: #888;
        margin: 0 auto;
        padding: 0;
        font-size: .9em;
        overflow: scroll;
      }
      .butter-nav {
        width: 100%;
      }
      .butter-project-title {
        max-width: none;
        cursor: default;
      }
      .project-listing {
        padding: 10px;
        overflow: hidden;
        margin: 10px;
      }
      .project-container {
        position: relative;
        float: left;
        background-color: #888;
        width: 20%;
        padding-bottom: 20%;
      }
      .project-detail {
        position: absolute;
        left: 10px;
        right: 10px;
        top: 10px;
        bottom: 10px;
        overflow: hidden;     
        padding: 10px;
        background-color: #fff; 	
      }
      .project-detail img {
        float: left;
        margin-right: 10px;
        border: 0;
      }
      .project-detail .project-links {
        width: 95%;
        clear: both;
        position: absolute;
        bottom: 5px;
      }
      .project-detail .project-links a {
        display: block;
      }
      .project-detail .project-links a.project-link {
        float: left;
      }
      .project-detail .project-links a.remix-link {
        float: right;
      }
    //-
      script
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-35433268-12']);
        _gaq.push(['_setDomainName', 'webmaker.org']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
  body.butter-header-spacing.butter-editor-spacing
    div#butter-header.butter-header
      div.butter-header-primary
        div.butter-logo
        ul.butter-nav
          li.butter-breadcrumbs
          li.butter-project-title
            span.butter-name Gallery Recent Projects
    .project-listing
      each project in projects
        .project-container
          .project-detail
            h3 Project: 
              = project.name
            if project.description || project.thumbnail
              .project-description 
                if project.thumbnail
                  img(src=project.thumbnail,alt=project.name)
                if project.description
                  span.description Description: 
                  = project.description
            if project.author
              p.project-author Author:
                = project.author
            p.project-update Last Update: 
             = project.updatedAt
            div.project-links
              a.project-link(href=project.href) Details
              a.remix-link(href=project.remixHref) Remix